# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
.env
# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database files (if any local SQLite used for testing)
*.sqlite3

# Logs
*.log

# Python egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

